<div class="topMarginForSurveyModules"></div>
<nav md-tab-nav-bar>
  <a md-tab-link [ngStyle]="activeBackgroundColor()" (click)="routeToPage('survey')">Survey</a>
  <a md-tab-link [ngStyle]="activeBackgroundColor()" *ngIf="!authService.inDemoMode()" (click)="routeToPage('evidence')">Evidence</a>
  <a md-tab-link *ngIf="authService.inDemoMode()">Evidence</a>
  <a md-tab-link [ngStyle]="activeBackgroundColor()" *ngIf="!authService.inDemoMode()" (click)="routeToPage('bestPractice')">Best Practice</a>
  <a md-tab-link *ngIf="authService.inDemoMode()">Best Practice</a>
  <a md-tab-link [ngStyle]="activeBackgroundColor()" *ngIf="!authService.inDemoMode()" (click)="routeToPage('caseStudies')">Case Studies</a>
  <a md-tab-link *ngIf="authService.inDemoMode()">Case Studies</a>
</nav>
<router-outlet></router-outlet>
