
 <div class="topSurveyModuleNav">
    <img [matTooltip]="previousDimensionTooltip" *ngIf="notAtStartOfModules()" class="moduleNavigation" src="../../../../../assets/Back Arrow-100.png" (click)="previousModule()">
    <img [matTooltip]="nextDimensionTooltip" *ngIf="notAtEndOfModules()" class="moduleNavigation" src="../../../../../assets/Forward Button-100.png" (click)="nextModule()">
    <img  [matTooltip]="save" class="moduleNavigation" src="../../../../../assets/Save-100.png" (click)="saveSurveyInput()">
    <!--<button mat-button class="defaultBtn whiteText" *ngIf="notAtStartOfModules()" (click)="previousModule()"><mat-icon>arrow_backward</mat-icon></button>-->
    <!--<button mat-button class="defaultBtn whiteText" *ngIf="notAtEndOfModules()" (click)="nextModule()"><mat-icon>arrow_forward</mat-icon></button>-->
    <!--<button mat-button class="defaultBtn whiteText" (click)="saveSurveyInput()"><mat-icon>save</mat-icon></button>-->
</div>

<div *ngIf="this.isInLastPage()">
    <div class="bodyTopMarginSurveyModules"></div>
    <div class="container">
    <div class="row">
        <button *ngIf="!surveyHasOwner && !this.authService.inDemoMode()" mat-button id="areYouResponsible" class="col-xs-4" (click)="launchOwnSectionDialog()">Are you responsible for parts of this section?</button> 
        <button *ngIf="this.authService.inDemoMode()" mat-button id="areYouResponsible" class="col-xs-4">Are you responsible for parts of this section?</button>       
        <button *ngIf="surveyHasOwner" mat-button id="userIsResponsible" class="col-xs-4" (click)="launchRemoveOwnershipDialog()">You are responsible for parts of this section. Touch to change</button>    
    </div>

    <div class="row maturityLabels">
        <img class="col-sm-2 imgIcon" src="../../../../../assets/Info-50.png" [matTooltip]="dimensionLongText">
        <h1 class="col-sm-8 header"> {{dimensionText}}</h1>
    </div>

    <div class="row">
        <span class="col-sm-2 col-sm-offset-7 maturityTitles"><strong>1 = Low Maturity</strong></span>
        <span class="col-sm-2 highMaturity"><strong>5 = High Maturity</strong></span>
    </div>

    <div class="row">
        <span class="col-sm-2 col-sm-offset-6 sliderTitles"><strong>IMPORTANCE</strong></span>
        <span class="col-sm-2"><strong>AS-IS CAPABILITY</strong></span>
        <span class="col-sm-2"><strong>TO-BE CAPABILITY</strong></span>
    </div>



    <div class="surveyQuestions" (appClickOutside)="clickedAwayFromSlider()">
        <div class="row" *ngFor="let eachQuestion of surveyQuestions; let i = index">

            <span class="col-sm-6">{{surveyQuestions[i].statementID}} {{surveyQuestions[i].statementText}}</span>  
            <span class="col-sm-2 jqxSlider">
                <span class="col-sm-1 col-sm-offset-5" *ngIf="importanceValues[i] != 0">{{importanceValues[i]}}</span>
                    <span class="col-sm-1 col-sm-offset-5" *ngIf="importanceValues[i] == 0" class="clearScore">{{importanceValues[i]}}</span>
                        <jqxSlider [height]="height" [min]="0" [max]="5" [ticksFrequency]="1" [mode]='"fixed"' [width]=180  [value]=importanceValues[i] [(ngModel)]="importanceValues[i]"  (onChange)="userMovedSlider(i,0)" [showButtons]="false" (click)="userMovedSlider(i,0)"></jqxSlider>
                    </span>

            <div *ngIf="showToolTip && selectedSlider == i && importanceSliderFlag && importanceValues[i] != 0" class="importanceCustomTooltip col-sm-2 col-sm-offset-5">{{this.importanceToolTips[importanceValues[i]-1]}}</div> 
    

            <span class="col-sm-2 jqxSlider"><span class="col-sm-1 col-sm-offset-5" *ngIf="capabilityValues[i] != 0">{{capabilityValues[i]}}</span><span class="col-sm-1 col-sm-offset-5" *ngIf="capabilityValues[i]== 0" class="clearScore">{{capabilityValues[i]}}</span><jqxSlider [height]="height" [min]="0" [max]="5" [ticksFrequency]="1" [mode]='"fixed"' [width]=180 [value]=capabilityValues[i] [(ngModel)]="capabilityValues[i]" (onChange)="userMovedSlider(i, 1)" [showButtons]="false" (click)="userMovedSlider(i,1)"></jqxSlider></span>
            <div *ngIf="showToolTip && selectedSlider == i && capabilitySliderFlag && capabilityValues[i] != 0" class="capabilityCustomTooltip col-sm-2 col-sm-offset-7">{{this.capabilityToolTips[i][capabilityValues[i]]}}</div>

            <span class="col-sm-2 jqxSlider"><span class="col-sm-1 col-sm-offset-5" *ngIf="twoYearTargetValues[i] != 0">{{twoYearTargetValues[i]}}</span><span class="col-sm-1 col-sm-offset-5" *ngIf="twoYearTargetValues[i] == 0" class="clearScore">{{twoYearTargetValues[i]}}</span><jqxSlider [height]="height" [min]="0" [max]="5" [ticksFrequency]="1" [mode]='"fixed"' [width]=180 [value]=twoYearTargetValues[i] [(ngModel)]="twoYearTargetValues[i]" (onChange)="userMovedSlider(i, 2)" [showButtons]="false" (click)="userMovedSlider(i,2)"></jqxSlider></span>
            <div *ngIf="showToolTip && selectedSlider == i && twoYearTargerSliderFlag && twoYearTargetValues[i] != 0" class="targetCustomTooltip col-sm-2 col-sm-offset-9">{{this.capabilityToolTips[i][twoYearTargetValues[i]]}}</div> 
        
        </div>
    </div>
    </div>
</div>

<div *ngIf="!this.isInLastPage()">
    <div class="bodyTopMarginSurveyModules"></div>
    <div class="container">
    <div class="row">

        <div class="col-sm-12">
                <h2>Thank you for completing the DMM assessment. You can now <a class="totalsLink" href="main/viewresults/myownresults">view your own results.</a></h2>
            </div>
            <div class="col-sm-12">
                <h3 class="subHeader">If you still need to fully complete the assessment you should return to the <a class="totalsLink" href="main/takesurvey">Dashboard</a> and complete the sub-dimensions that are not yet at Green status.</h3>
            </div>
    </div>
    </div>
</div>

