
 <div id="surveyModuleNav">
    <img *ngIf="notAtStartOfModules()" class="moduleNavigation" src="../../../../../assets/Back Arrow-100.png" (click)="previousModule()">
    <img *ngIf="notAtEndOfModules()" class="moduleNavigation" src="../../../../../assets/Forward Button-100.png" (click)="nextModule()">
    <img  class="moduleNavigation" src="../../../../../assets/Save-100.png" (click)="saveSurveyInput()">
    <!--<button md-button class="defaultBtn whiteText" *ngIf="notAtStartOfModules()" (click)="previousModule()"><md-icon>arrow_backward</md-icon></button>-->
    <!--<button md-button class="defaultBtn whiteText" *ngIf="notAtEndOfModules()" (click)="nextModule()"><md-icon>arrow_forward</md-icon></button>-->
    <!--<button md-button class="defaultBtn whiteText" (click)="saveSurveyInput()"><md-icon>save</md-icon></button>-->
</div>

<div class="bodyTopMarginSurveyModules"></div>
<div class="container">
<div class="row">
    <!--<button md-button class="col-xs-4 col-xs-offset-6" (click)="backToTakeSurvey()">Are you responsible for parts of this section?</button>-->
</div>

<h1> {{dimensionText}}</h1>

<div class="row">
    <span class="col-sm-2 col-sm-offset-6 sliderTitles"><strong>IMPORTANCE</strong></span>
    <span class="col-sm-2"><strong>AS-IS CAPABILITY</strong></span>
    <span class="col-sm-2"><strong>2 YEAR TARGET</strong></span>
</div>

<div class="surveyQuestions">
    <div class="row" *ngFor="let eachQuestion of surveyQuestions; let i = index">
        <span class="col-sm-6">{{surveyQuestions[i].statementID}} {{surveyQuestions[i].statementText}}</span>
        <span class="col-sm-1"><md-slider (input)="changing()" (click)="userMovedSlider()" min="1" max="5" step="1" value="1" tickInterval="1" [(ngModel)]="importanceValues[i]" [mdTooltip]="this.changed ? importanceToolTips[importanceValues[i] - 1] : ''" mdTooltipPosition="above"></md-slider></span>
        <span class="col-sm-1">{{importanceValues[i]}}</span>
        <span class="col-sm-1"><md-slider (click)="userMovedSlider()" min="1" max="5" step="1" value="1" tickInterval="1" [(ngModel)]="capabilityValues[i]" [mdTooltip]="capabilityToolTips[i][capabilityValues[i]]"></md-slider></span>
        <span class="col-sm-1">{{capabilityValues[i]}}</span>
        <span class="col-sm-1"><md-slider (click)="userMovedSlider()" min="1" max="5" step="1" value="1" tickInterval="1" [(ngModel)]="twoYearTargetValues[i]" [mdTooltip]="capabilityToolTips[i][twoYearTargetValues[i]]"></md-slider></span>
        <span class="col-sm-1">{{twoYearTargetValues[i]}}</span>
    </div>
</div>

<!--<button md-button class="defaultBtn whiteText" (click)="saveSurveyInput()"><md-icon>save</md-icon></button>
<button md-button class="defaultBtn whiteText" *ngIf="notAtStartOfModules()" (click)="previousModule()"><md-icon>arrow_backward</md-icon></button>
<button md-button class="defaultBtn whiteText" *ngIf="notAtEndOfModules()" (click)="nextModule()"><md-icon>arrow_forward</md-icon></button>-->
</div>

<!--<div class="topMarginForSurveyModules"></div>-->
<div id="surveyModuleNav">
    <img *ngIf="notAtStartOfModules()" class="moduleNavigation" src="../../../../../assets/Back Arrow-100.png" (click)="previousModule()">
    <img *ngIf="notAtEndOfModules()" class="moduleNavigation" src="../../../../../assets/Forward Button-100.png" (click)="nextModule()">
    <img  class="moduleNavigation" src="../../../../../assets/Save-100.png" (click)="saveSurveyInput()">
    <!--<button md-button class="defaultBtn whiteText" *ngIf="notAtStartOfModules()" (click)="previousModule()"><md-icon>arrow_backward</md-icon></button>-->
    <!--<button md-button class="defaultBtn whiteText" *ngIf="notAtEndOfModules()" (click)="nextModule()"><md-icon>arrow_forward</md-icon></button>-->
    <!--<button md-button class="defaultBtn whiteText" (click)="saveSurveyInput()"><md-icon>save</md-icon></button>-->
</div>
<!--</md-sidenav-container>-->
        


