<div class="loading-overlay" #loadingElement style="opacity: 100;">
    <mat-spinner *ngIf="httpRequestFlag"></mat-spinner>
</div>

<h4>Add a new Organization</h4>
<form [formGroup]="inviteOrganizationForm" (ngSubmit)="onSubmit()">
    <div>
        
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Organization Name" type="text" formControlName="organizationName">
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Contact Name" type="text" formControlName="contactName">
            </mat-form-field>
        </div>
    
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Email"  type="text" formControlName="email">
                <control-messages [control]="inviteOrganizationForm.controls.email"></control-messages>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-select placeholder="What are your primary products and services?" formControlName="primaryProductsAndServices">
                    <mat-option value="Fixed Operator">Fixed Operator</mat-option>
                    <mat-option value="Mobile Operator">Mobile Operator</mat-option>
                    <mat-option value="Converged Operator (some combination of mobile, fixed voice and data, and TV)">Converged Operator (some combination of mobile, fixed voice and data, and TV)</mat-option>
                    <mat-option value="Cable operator">Cable operator</mat-option>
                    <mat-option value="Digital services provider (e.g. IoT, smart cities)">Digital services provider (e.g. IoT, smart cities)</mat-option>
                    <mat-option value="Other">Other</mat-option>   
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
                <mat-form-field>
                    <mat-select placeholder="Regions" [formControl]="regionsFormControl" multiple>
                        <mat-option *ngFor="let region of regionsList" [value]="region">{{region}}</mat-option>
                    </mat-select> 
                </mat-form-field>
            </div>

        <!-- <div class="form">
            <mat-form-field>
                <mat-select placeholder="Which region(s) does your organization operate in? " formControlName="regions">
                    <mat-option value="North America">North America</mat-option>
                    <mat-option value="Latin/America/Caribbean">Latin/America/Caribbean</mat-option>
                    <mat-option value="Europe and/or Russia">Europe and/or Russia</mat-option>
                    <mat-option value="Middle East and/or Africa">Middle East and/or Africa</mat-option>
                    <mat-option value="Asia/Pacific">Asia/Pacific</mat-option>
                    <mat-option value="Global">Global</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->


        <div class="form">
            <mat-form-field>
                <mat-select placeholder="Which sectors does your company primarily serve?" formControlName="sectors">
                    <mat-option value="Aerospace industry">Aerospace industry</mat-option>
                    <mat-option value="Agriculture industry">Agriculture industry</mat-option>
                    <mat-option value="Chemical industry">Chemical industry</mat-option>
                    <mat-option value="Pharmaceutical industry">Pharmaceutical industry</mat-option>
                    <mat-option value="Computer industry">Computer industry</mat-option>
                    <mat-option value="Software industry">Software industry</mat-option>
                    <mat-option value="Construction industry">Construction industry</mat-option>
                    <mat-option value="Defense industry">Defense industry</mat-option>
                    <mat-option value="Education industry">Education industry</mat-option>
                    <mat-option value="Energy industry">Energy industry</mat-option>
                    <mat-option value="Entertainment industry">Entertainment industry</mat-option>
                    <mat-option value="Financial services industry">Financial services industry</mat-option>
                    <mat-option value="Food industry">Food industry</mat-option>
                    <mat-option value="Health care industry">Health care industry</mat-option>
                    <mat-option value="Hospitality industry">Hospitality industry</mat-option>
                    <mat-option value="Information industry">Information industry</mat-option>
                    <mat-option value="Manufacturing">Manufacturing</mat-option>
                    <mat-option value="Mass media">Mass media</mat-option>
                    <mat-option value="Telecommunications industry">Telecommunications industry</mat-option>
                    <mat-option value="Transport industry">Transport industry</mat-option>
                    <mat-option value="Water industry">Water industry</mat-option>
                    <mat-option value="All of the above">All of the above</mat-option>
                    <mat-option value="Other">Other</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-select placeholder="Which customer types do you serve?" formControlName="customerTypes">
                    <mat-option value="Business">Business</mat-option>
                    <mat-option value="SME">SME</mat-option>
                    <mat-option value="Consumer">Consumer</mat-option>
                    <mat-option value="Wholesale">Wholesale</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-select placeholder="How many total employees does your organization have?" formControlName="totalEmployees">
                    <mat-option value="Fewer than 100">Fewer than 100</mat-option>
                    <mat-option value="100-500">100-500</mat-option>
                    <mat-option value="500-1,000">500-1,000</mat-option>
                    <mat-option value="1,000-10,000">1,000-10,000</mat-option>
                    <mat-option value="10,000-100,0000">10,000-100,0000</mat-option>
                    <mat-option value="More than 100,000">More than 100,000</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-select placeholder="What was your organization’s total annual revenue last year?" formControlName="totalAnnualRevenue">
                    <mat-option value="less than $1 million USD">less than $1 million USD</mat-option>
                    <mat-option value="$ 1 million to $25 million USD">$ 1 million to $25 million USD</mat-option>
                    <mat-option value="$ 25 million to $100 million USD">$ 25 million to $100 million USD</mat-option>
                    <mat-option value="$ 100 million to $1 billion USD">$ 100 million to $1 billion USD</mat-option>
                    <mat-option value="$ 1 billion to $10 million USD">$ 1 billion to $10 million USD</mat-option>
                    <mat-option value="$ 10 billion to $25 million USD">$ 10 billion to $25 million USD</mat-option>
                    <mat-option value="$ 25 billion to $40 million USD">$ 25 billion to $40 million USD</mat-option>
                    <mat-option value="More than $40 billion USD">More than $40 billion USD</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-select placeholder="How long has your company been in business?" formControlName="operatingTime">
                    <mat-option value="less then 1 year">less then 1 year</mat-option>
                    <mat-option value="1 year to 5 years">1 year to 5 years</mat-option>
                    <mat-option value="5 years to 10 years">5 years to 10 years</mat-option>
                    <mat-option value="10 years to 20 years">10 years to 20 years</mat-option>
                    <mat-option value="20 years to 50 years">20 years to 50 years</mat-option>
                    <mat-option value="greater than  100 years">greater than  100 years</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
                <mat-form-field>
                    <input matInput placeholder="Where is your headquarters?" type="text" formControlName="headquartersLocation">
                </mat-form-field>
        </div>

        <!-- <div class="form">
            <mat-form-field>
                <mat-select placeholder="What is the status of your digital transformation program?" formControlName="transformation">
                    <mat-option value="We are aware of the need to transform but have not started">We are aware of the need to transform but have not started</mat-option>
                    <mat-option value="We are in the planning process">We are in the planning process</mat-option>
                    <mat-option value="We are just starting implementation">We are just starting implementation</mat-option>
                    <mat-option value="We are well along the road and reaping significant benefits">We are well along the road and reaping significant benefits</mat-option>
                    <mat-option value="Digital transformation is not necessary for us to succeed">Digital transformation is not necessary for us to succeed</mat-option>
                    <mat-option value="Other">Other</mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="form">
            <mat-form-field>
                <mat-select placeholder="Are you personally involved in a current digital transformation programme effort?" formControlName="personalInvolvment">
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-select placeholder="Which DMM Dimension do you most personally associate with?" formControlName="personalAssociation">
                    <mat-option value="Customer">Customer</mat-option>
                    <mat-option value="Strategy">Strategy</mat-option>
                    <mat-option value="IT">IT</mat-option>
                    <mat-option value="Operations">Operations</mat-option>
                    <mat-option value="Culture">Culture</mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="form">
            <mat-form-field >
                <mat-select placeholder="What business function do you work for? " formControlName="businessFunction">
                    <mat-option value="Network">Network</mat-option>
                    <mat-option value="IT">IT</mat-option>
                    <mat-option value="Operations">Operations</mat-option>
                    <mat-option value="Customer Service">Customer Service</mat-option>
                    <mat-option value="Sales and marketing">Sales and marketing</mat-option>
                    <mat-option value="Product Management">Product Management</mat-option>
                    <mat-option value="Business transformation or change management">Business transformation or change management</mat-option>
                    <mat-option value="Strategy">Strategy</mat-option>
                    <mat-option value="Finance">Finance</mat-option>
                    <mat-option value="HR">HR</mat-option>
                    <mat-option value="Other">Other</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <mat-select placeholder="Which level of management would best describe your role at the company?" formControlName="levelOfManagement">
                    <mat-option value="C-level executive">C-level executive </mat-option>
                    <mat-option value="Senior Management">Senior Management</mat-option>
                    <mat-option value="Middle Management">Middle Management</mat-option>
                    <mat-option value="Junior Management">Junior Management</mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <div class="form">
            <mat-form-field>
                <mat-select placeholder="Which product line do you service? (Optional)" formControlName="productLine">
                    <mat-option value="Fixed communications voice">Fixed communications voice</mat-option>
                    <mat-option value="Fixed communications data">Fixed communications data</mat-option>
                    <mat-option value="Mobile communications">Mobile communications</mat-option>
                    <mat-option value="TV and Broadcast Media">TV and Broadcast Media</mat-option>
                    <mat-option value="Business conferencing services">Business conferencing services</mat-option>
                    <mat-option value="Computing and apps">Computing and apps</mat-option>
                    <mat-option value="Consulting">Consulting</mat-option>
                    <mat-option value="Other">Other</mat-option>
                    <mat-option value="Not applicable">Not applicable</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->

    </div>
    <button mat-button matDialogClose>Cancel</button>
    <button mat-button (click)="addNewOrganization()" [disabled]="!inviteOrganizationForm.valid">Add Organization</button>
</form>
