<div class="topMargin">
</div>
<!--
<div class="btn-group btn-group-justified hidden-xs">
        <a class="btn btn-primary" routerLink='survey'>Survey</a>
        <a class="btn btn-primary" routerLink='evidence'>Evidence</a>
        <a class="btn btn-primary" routerLink='bestpractices'>Best Practices</a>
        <a class="btn btn-primary" routerLink='casestudies'>Case Studies</a>
</div>

<div class="btn-group btn-group-vertical visible-xs">
        <a class="btn btn-primary" routerLink='survey'>Survey</a>
        <a class="btn btn-primary" routerLink='evidence'>Evidence</a>
        <a class="btn btn-primary" routerLink='bestpractices'>Best Practices</a>
        <a class="btn btn-primary" routerLink='casestudies'>Case Studies</a>
</div>-->
<router-outlet></router-outlet>