<div class="loading-overlay" #loadingElement style="opacity: 100;">
    <mat-spinner *ngIf="httpRequestFlag"></mat-spinner>
</div>

<h4>Invite a new user</h4>
<form [formGroup]="inviteUserForm" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field>
            <input matInput placeholder="Email" type="text" formControlName="email">
            <control-messages [control]="inviteUserForm.controls.email"></control-messages>
        </mat-form-field>
    </div>

    <!-- <div>
        <mat-form-field>
            <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
    </div> -->

    <div>
        <mat-form-field>
            <mat-select placeholder="Survey Group" formControlName="surveyGroup">
                <mat-option  *ngFor="let city of listOfAllCities; let i = index" value="{{city}}">{{city}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-select placeholder="User Role" formControlName="userRole">
                <mat-option value="Super User">Super User</mat-option>
                <mat-option value="Leader">Leader</mat-option>
                <mat-option value="Consultant">Consultant</mat-option>
                <mat-option value="Evidencer">Evidencer</mat-option>
                <mat-option value="Team">Team</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput placeholder="Name" type="text" formControlName="name">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput placeholder="Job Title" type="text" formControlName="jobTitle">
        </mat-form-field>
    </div>

    <button mat-button matDialogClose>Cancel</button>
    <button mat-button (click)="inviteNewUser()" [disabled]="!inviteUserForm.valid">Send Invite</button>
</form>
