<div class="btn-group btn-group-justified hidden-xs">
        <a class="btn btn-primary">Survey</a>
        <a class="btn btn-primary">Evidence</a>
        <a class="btn btn-primary">Best Practices</a>
        <a class="btn btn-primary">Case Studies</a>
</div>

<div class="btn-group btn-group-vertical visible-xs">
        <a class="btn btn-primary">Survey</a>
        <a class="btn btn-primary">Evidence</a>
        <a class="btn btn-primary">Best Practices</a>
        <a class="btn btn-primary">Case Studies</a>
</div>