<nav mat-tab-nav-bar>
    <div id="navigationIcon">
      <img id="backToDashboard" src="../../../assets/Back To-100-white.png" (click)="backToDashboard()" [matTooltip]="backToDashboardTooltip">
      <img id="emailDocument" src="../../../assets/Email Document-100-white.png"  (click)="requestSurveyCSV()"  [matTooltip]="emailResults">
    </div>
    
    <div class="container">
      <div class="row">
        <a mat-tab-link class="whiteText navTitle"><h4>Organization Admin</h4></a>
        <a mat-tab-link class="whiteText navTitle" (click)="routeToPage('surveyadmin')"><h4>Survey Admin</h4></a>
        <a mat-tab-link class="whiteText navTitle" (click)="routeToPage('useradmin')"><h4>User Admin</h4></a>
        <!-- <a mat-tab-link class="whiteText navTitle" (click)="routeToPage('bulkinviteadmin')"><h4>Bulk Invite</h4></a> -->
        <a mat-tab-link class="defaultBtn whiteText navTitle" (click)="routeToPage('publisheddataadmin')"><h4>Published Data</h4></a>
      </div>
    </div> 
</nav>

<div class="container">
  <div class="row">
    <p-dropdown id="dropDownMenu" [options]="allCityNames" [(ngModel)]="currentCitySelected" (onChange)="cityHasChanged()" [style]="{'width':'250px'}"></p-dropdown>

    <h3><strong>{{currentCitySelected ? currentCitySelected.name : ''}}</strong></h3>

    <div class="googleComboChart" *ngFor="let eachChart of comboCharts, let i = index">
        <google-chart [data]="comboCharts[i]"></google-chart>
  </div>
  </div>
</div>