<div class="container">
    <div class="row">
        <img class="imageBanner col-xs-12" src="../../../assets/HDR-DMMM_landingPage.jpg">
    </div>
    <div class="row">
        <div class="welcomeContainer">
            <div class="col-sm-4 headerDiv">
                <h1 class="header">Welcome to the TM Forum Digital Maturity Assessment</h1>
            </div>
            <div class="col-sm-8 contentDiv">
                <h3 class="subHeader">Thank you for agreeing to take part in this important survey measuring the digital maturity of your organization.</h3> 
                <p>Today we will be gaining your own opinion on the 'As-Is' digital capability of your organization and a 'Target' you believe the organization should be working towards in the timeframe as communicated by your assessment leader.</p> <p>The assessment comprises a depth of questions that will really help you and your colleagues to plan the strategy and delivery of your next transformation phase and we would encourage you to be as considerate and complete in your answers as possible.</p> <p>Be assured the answers you provide will be kept in the strictest confidentiality. Please click 'Take Survey' at the top of the screen to begin. You can save your results and return to complete the survey at any time.</p>
            </div>
        </div>
    </div>
    <!-- <div class="welcomePage"> -->
    <!-- <h1 class="header">Welcome to the TM Forum Digital Maturity Assessment</h1> -->
    <!-- <h3 class="subHeader">Thank you for agreeing to take part in this important survey measuring the digital maturity of your organization.</h3> -->
    <!-- <p>Today we will be gaining your own opinion on the 'As-Is' digital capability of your organization and a 'Target' you believe the organization should be working towards in the timeframe as communicated by your assessment leader. The assessment comprises a depth of questions that will really help you and your colleagues to plan the strategy and delivery of your next transformation phase and we would encourage you to be as considerate and complete in your answers as possible. Be assured the answers you provide will be kept in the strictest confidentiality. Please click 'Take Survey' at the top of the screen to begin. You can save your results and return to complete the survey at any time.</p> -->
    </div>
<!-- </div> -->