<div class="container">
    <!-- <div class="row">
        <img class="imageBanner col-xs-12" src="../../../assets/HDR-DMMM_landingPage.jpg">
    </div> -->
    <div class="row">
        <div class="welcomeContainer">
            <div class="col-sm-4 headerDiv">
                <h1 class="header">Welcome to the TM Forum Digital Maturity Assessment</h1>
            </div>
            <div class="col-sm-8 contentDiv">
                <h3 class="subHeader">Thank you for agreeing to take part in this important survey measuring the digital maturity of your organization.</h3> 
                <p> Today we begin to measure your impressions of present-day capabilities in your organization and a target state that you believe the organization should be working towards in the two-year or other timeframe as set by your assessment leader. </p> 
                <p> This assessment is a series of statements intended to help you and your colleagues think about and visualize, in very specific and measurable terms, your next digital transformation effort.  We encourage you to be as conscientious as possible while completing the survey. </p> 
                <!-- <p> Be assured the answers you provide will be kept in the strictest confidentiality. Please click  <a href="/main/takesurvey">'Take Survey'</a> at the top of the screen to begin. You can save your results and return to complete the survey at any time.</p> -->

                <p>You may save your survey in progress, at each screen.  Be aware that responses you provide are shared, in anonymized form, for the purpose of aggregation and benchmarking.  Respondent level data is encrypted and safeguarded against security breaches.  Please click <a href="/main/takesurvey">'Take Survey'</a> here or at the top of the screen to begin. </p>
            
                <p><strong>Estimated time to complete survey:</strong></p>
                <p class="estTime">Customer Dimension =  30 minutes</p>
                <p class="estTime">Strategy Dimension =  35 minutes</p>
                <p class="estTime">Operations Dimension =  50 minutes </p>
                <p class="estTime">Technology Dimension =  45 minutes </p>
                <p class="estTime">Culture Dimension =  20 minutes </p>
                <p class="estTime">All five (5) Dimensions =  180 minutes </p>
                <p class="endEstTime"> Again, you may save your survey results in progress and resume at any time. </p>
                <p><strong>Thank you.  The DMM Team.</strong></p>  
            </div>
        </div>
    </div>
</div>

<div class="marginBottom"></div>