<div class="loading-overlay" #spinnerElement style="opacity: 1;">
    <mat-spinner  *ngIf="httpRequestFlag"></mat-spinner>
</div>

<h4>Publish Current Version</h4>
<p>This will publish the current survey at the existing publication level.</p>

<p>Note once published the survey results for this version cannot be edited</p>

<p>Please confirm you wish to proceed</p>

<button mat-button matDialogClose>Cancel</button>
<button *ngIf="!this.isLicenseValid" disabled mat-button (click)="publishVersion()">Continue</button>
<button *ngIf="this.isLicenseValid" mat-button (click)="publishVersion()">Continue</button>