.importanceSlider {
     margin-left: 300px; 
}

.resetVal {
    background-color: #e28a1d;
    color: white;
    position: absolute;
    z-index: 1;
    height: 0 auto;
    width: 100px;
    text-align: center;
    margin-left: 35px;

}
.resetVal:hover {
    cursor: pointer;
}

.sliders {
    position: relative;
}

.clearScore {
  color: white;
}



.importanceTitle {
    padding-left: 40px;
}

.scoreTitle {
    padding-left: 35px;
}

.targetTitle {
    padding-left: 40px;
}



.dimensionLabel {
    margin-top: 30px;
}

.sliders {
    margin-top: 5px;
}


.adjustAggregatesBtn {
    margin-top: 25px;
}