/*Nav Bar*/
nav  {
    text-align:center;
    /*margin-top: 50px;*/
     background-color: #88C158;
     position: relative;
}

#navigationIcon {
    position:absolute;
    padding-left: 35px;
}

#backToDashboard {
    height: auto;
    width: 42px;
    margin-top: 3px;
    opacity: 1;
    float: left;
    margin-right: 20px;
}

#backToDashboard:hover {
    cursor: pointer;
}

#emailDocument {
    height: auto;
    width: 42px;
    margin-top: 3px;
    opacity: 1;
    float: left;
}

#emailDocument:hover {
    cursor: pointer;
}
/*nav a {
    background-color: darkgrey;
    color:white;
}*/

/*button {
  background: #1e90ff;
  color: white;
}*/

.whiteText {
    color:white;
}

#sendRequest {
    float: right;
}

button {
  background-color: #62B3D1;
  color: white;
}

.navTitle {
    padding-top: 5px;
}

a {
    text-decoration: none;
    opacity: 1;
    color: white;
}

