<div class="loading-overlay" #spinnerElement style="opacity: 0;">
    <mat-spinner></mat-spinner>
</div>


  <header id="mainNavBar">
    <nav class="navbar navbar-inverse">
       <div class="navContainer"> 
          <a *ngIf="minWidth()" routerLink="/welcome" class="navbar-left"><img id="logo" src="/assets/TMForum_logoRedGray.png" height="40"/></a>
          
        <div class="userDetails" *ngIf="inSeeDemo()">Demo User - Demo Organization - Demo Role</div> 
        <div class="userDetails" *ngIf="this.authService.isAuthenticated()">{{this.localStorageService.getUserName()}} - {{this.localStorageService.getUserCity()}} - {{this.localStorageService.getUserRole()}}</div> 

        <span *ngIf="minWidth()"><img *ngIf="this.authService.isAuthenticated()" class='nav-avatar img-circle' [src]="getUserAvatar()"/></span> 
        <mat-icon *ngIf="this.authService.isAuthenticated()"  id="menuIcon" [matMenuTriggerFor]="menu" onMouseOver="this.style.cursor='pointer'">md_more_vert</mat-icon>
       </div> 
    </nav>
    

      <mat-menu #menu="matMenu" yPosition="above">
        <button mat-menu-item *ngIf="authService.isAuthenticated()" (click)="editUserDetails()">
          <span>View/Edit Details</span>
        </button>
        
        <button mat-menu-item *ngIf="authService.isAuthenticated()" (click)="this.authService.logout()">
          <span>Log out</span>
        </button>
      </mat-menu>

  </header>

<main>
  <router-outlet>
  </router-outlet>
</main>

<footer id="footer" [ngStyle]="footerBackground()" ng-cloak>
  <img id="infoIcon" src="../assets/Info-50.png" [matTooltip]="infoTooltip" matTooltipPosition="after">
  <div id="termsOfUse" *ngIf="showDisclaimer()"><strong>By clicking on Login you agree to our Terms of Use and Privacy Policy at www.tmforum.org</strong></div>
</footer>




