<div class="container">
        <div class="row">
            <!--<button md-button class="col-xs-3">Add New User</button>-->
            <button md-mini-fab class="col-xs-3" (click)="addNewUser()"><md-icon>add</md-icon></button>
        </div>
    <div class="row"  id="cardsContainer">
     <md-card class="col-sm-2" *ngFor="let userProfile of userProfiles; let i = index">
        <h4>{{userProfile.app_metadata.user_role}}</h4>
        <h6>{{getUsersName(i)}}</h6>

        <!--<img id="centerImage" md-card-md-image class="thumbnail" [src]="userProfile.picture"/>-->
        <img id="centerImage" [src]="userProfile.picture"/>
        
        <md-card-content>
            <h6>{{getUsersTitle(i)}}</h6>
            <h6>{{userProfile.email}}</h6>
        </md-card-content>

        <!--<md-card-actions>
            <button md-button>EDIT</button>
            <button md-button>DELETE</button>
        </md-card-actions>-->
     </md-card>
    </div>
</div>



