<div class="container">
    <div class="row">
        <button *ngIf="this.authService.isVerified()" id="addNewUser" mat-mini-fab class="col-xs-3" color="primary" (click)="addNewUser()" matTooltip="Add a new user"><mat-icon>add</mat-icon></button>
    </div>

    <div class="row"  id="cardsContainer">
     <mat-card class="col-sm-1" *ngFor="let userProfile of userProfiles; let i = index">
        <img class="roundImage reduceImageSize" [src]="userProfile.picture"/>
        
        <div class="cardBody">
            <h6><strong>{{getUsersName(i)}}</strong></h6>
            <h6>{{userProfile.app_metadata.user_role}}</h6>

        
            <mat-card-content>
                <h6>{{getUsersTitle(i)}}</h6>
                <h6>{{userProfile.email}}</h6>
            </mat-card-content>
            
            <mat-card-actions>
                <button (click)="editUserRole(i)" mat-button>Edit Role</button>
                <button (click)="deleteUser(i)" id="deleteButton" mat-button>Delete</button>
            </mat-card-actions>
        </div>
     </mat-card>
    </div>
</div>




