/*Team Admin*/
#userProfileRow {
  display: table; 
}

.userProfileDisplay {
  text-align: center;
  /*background: blue;*/
  float: none;
  display: table-cell;
}

.userProfileDisplay:hover {
  background:blue;
  cursor: pointer;
}

.userProfileDisplay p {
  font-size: 15px;
}

.thumbnail {
  text-align: center;
  /*height:200px;*/
  margin-bottom: 25px;
}

.teamAdmin-card {
  width: 300px;
   text-align: center;
  /*background: blue;*/
  float: none;
  /*display: table-cell;*/
}

 /*md-grid-tile figure {
     align-items: flex-start!important;
   }*/

.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
}

.gridListdemoBasicUsage .gray {
  background: #f5f5f5;
}

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms;
}

/*md-grid-tile {
  background: lightblue;
}*/