
<!--<mat-sidenav-container fullscreen>
        <mat-sidenav #start mode="push" style="width: 200px;" [opened]="true">
            <div class="surveyTopMargins"></div>
            <div class="row">
                <mat-button-toggle-group vertical class="col-xs-12" value="bestPractice">
                    <mat-button-toggle value="survey" (click)="routeToPage('survey')"> 
                        Survey
                    </mat-button-toggle>
                    <mat-button-toggle value="evidence" (click)="routeToPage('evidence')">
                        Evidence
                    </mat-button-toggle>-->
                    <!--<mat-button-toggle value="bestPractice" (click)="routeToPage('bestPractice')">
                        Best Practices
                    </mat-button-toggle>
                    <mat-button-toggle value="caseStudies" (click)="routeToPage('caseStudies')">
                        Case Studies
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </mat-sidenav>
<div class="surveyTopMargins"></div>-->

<div class="bodyTopMarginSurveyModules"></div>
<div class="container">
<div class="row">
    <!--<button mat-button class="col-xs-1" id="navigationButton" (click)="this.start.toggle()"> Navigation</button>-->
    <button mat-button class="col-xs-3" (click)="backToTakeSurvey()" id="backToDashboard">Back To Survey Dashboard</button>
</div>
<h1>Best Practices</h1>

<div class="row" id="cardsContainer">
<mat-card class="col-sm-2" *ngFor="let bestPractice of bestPractices; let i = index">
        <mat-card-title>Best Practice for {{bestPractice.statementID}}</mat-card-title>
        <mat-card-content>
            <a href="{{bestPractice.bpLink}}" target="_blank"><p>{{bestPractice.bpText}}</p></a>
        </mat-card-content>
</mat-card>
</div>
</div>
<!--</mat-sidenav-container>-->