 <!-- <p>hello world</p>  -->
 <!-- <form [formGroup]="bulkInvite">  -->
     <!-- <md-input-container> 
      <!-- <div class="form-group" class="col-sm-12"> -->
            <!-- <input id="userDetail" type="text" class="form-control" placeholder="Invite New Users:" formControlName="bulkEmails"> -->
     <!-- </md-input-container>           -->
    <!-- </div>  -->

    <textarea rows="4" cols="50" [(ngModel)]="bulkEmails"></textarea>
    <button (click)="sendBulkEmails()">Click me</button>


<!-- </form>   -->
