<div id="welcomeComponent">
<div id="smartCityPerson"><img src="assets/DMMPersonEdit.png" width="300" alt="Picture of Smart City Person"/></div>
        <!-- <div><img id="tmForumBanner" src="assets/DMMLogo.png"   alt="Banner for smart city"/></div> -->

    <div class="outer_div">
        <div class="inner_div" id="tmForumBanner"><img src="assets/TMForum_logoRedGray.png" alt="Banner for smart city"/></div>
        <div id="DMM" [ngStyle]="DMMStyle()" class="inner_div"><h1>Digital Maturity Model</h1></div>
        <!-- <div class="inner_div" id="sloganBanner"><img id="sloganImg" src="assets/AppForDigitalTransformers.png" alt="slogan banner"/></div> -->
        <div class="inner_div" id="sloganBanner" [ngStyle]="digitalTransformers()"><h1>An App made for Digital Transformers</h1></div>
    </div>

<div class="btn-group btn-group-justified navigationButtons">
        <a routerLink="/main" [ngStyle]="seeDemoStyle()" class="btn"><h4>See Demo</h4></a>    
     <a *ngIf="!authService.isAuthenticated()" [ngStyle]="registerMyInterestStyle()" class="btn orangeBtn" routerLink="/registration"><h4>Register My Interest</h4></a> 
    <a *ngIf="authService.isAuthenticated()"  [ngStyle]="registerMyInterestStyle()" (click)="openDialog()" class="btn defaultBtn">Register My Interest</a>

     <a *ngIf="!authService.isAuthenticated()" [ngStyle]="loginStyle()" (click)="authService.login()" class="btn defaultBtn"><h4>Login</h4></a> 
</div>

<div id="togetherAndSponsorArea">
    <img id="togetherAssetBanner" class="centerPosition" src="assets/TogetherText.png" width = "700"/>
    <img class="dmmPartners" src="assets/DMMPartnersColor.png" />
</div>
</div>
