#welcomeComponent {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Sponsor Banner */
#togetherAndSponsorArea {
   padding-top: 25px; 
}

#togetherAssetBanner {
  margin-left: auto; 
	margin-right: auto; 
  display: block; 
}


.dmmPartners {
  margin-left: auto;
	margin-right: auto;
  display: block;
}



#smartCityPerson {
  float: left;
  margin-left: 600px;
  /* margin-right: 70px;  */
  width: 250px;    
  height: auto;
  /*height: 100px;*/
  /*display: inline-block;*/
  /*overflow: hidden;*/
  /*height: 100px;*/
  /*width: auto;*/
  /*transform: scale(1,1);*/
}

#tmForumDiv {
  right: 25px;
  /* margin-left: 100px; */
}
#tmForumBanner {
  /* max-width:75%; */
  /* max-height:75%; */

  /* width: 50px;  */
   /* right: 25px; */
  height: auto;
  /* margin-top: 40px; */
  /* margin-bottom: 65px; */
}

#DMM {
  right: 50px;
  top: 100px;
}

#sloganBanner {
   right: 50px;
   top: 200px;
   color: #29313b;
   font-family: Georgia;
}

#sloganImg {
  width: 700px;
}

/* #seeDemo {
  background-color: #EEB242;
} */


a:hover  {
  color: white;
}

.dmmPartners {
  max-width: 100%;
  height: auto;
  width: auto;
}

.outer_div {
  position: relative;
}

.inner_div {
  position: absolute;
}
/* @media (max-width: 1100px) {
  .dmmPartners {
    width: 1000px;
  }
}

@media (max-width: 1000px) {
  .dmmPartners {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .dmmPartners {
    width: 600px;
  }

  #tmForumBanner {
    width: 400px
  }

  #sloganBanner {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .dmmPartners {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .dmmPartners {
    width: 300px;
  }

  #tmForumBanner {
    width: 300px
  }

  #sloganBanner {
    width: 300px;
  }
} */
