<div class="btn-group btn-group-justified navigationButtons">
        <a *ngIf="authService.isAuthenticatedAndIsLeaderAndNotDemo()" routerLink="teamadmin" class="btn btn-primary">Team Admin</a>
        <a *ngIf="!authService.isAuthenticated()" routerLink="teamadmin" class="btn btn-danger">Team Admin</a>
        <a routerLink="takesurvey"  class="btn btn-primary">Take Survey</a>
        <a routerLink="viewresults" class="btn btn-primary">View Results</a>
        <a *ngIf="authService.isAuthenticatedAndIsLeaderAndNotDemo()" routerLink="publication" class="btn btn-primary">Publish</a>
        <a *ngIf="authService.isAuthenticatedAndIsLeaderAndNotDemo()" routerLink="benchmark"   class="btn btn-primary">Benchmark</a>
        <a *ngIf="authService.isAuthenticated()" (click)="this.authService.logout()" class="btn btn-primary">Logout</a>
    </div>
<router-outlet></router-outlet>