@import '~@angular/material/theming';
@include mat-core();

// $mat-TMF-blue: (#62B3D1);

$mat-TMF-blue: (
  50 : #ecf6f9,
    100 : #d0e8f1,
    200 : #b1d9e8,
    300 : #91cadf,
    400 : #7abed8,
    500 : #62b3d1,
    600 : #5aaccc,
    700 : #50a3c6,
    800 : #469ac0,
    900 : #348bb5,
    A100 : #fdfeff,
    A200 : #caedff,
    A400 : #97dbff,
    A700 : #7ed3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-TMF-red: (
    50 : #fee3e4,
    100 : #fcb8bb,
    200 : #fa898e,
    300 : #f75961,
    400 : #f6363f,
    500 : #f4121d,
    600 : #f3101a,
    700 : #f10d15,
    800 : #ef0a11,
    900 : #ec050a,
    A100 : #ffffff,
    A200 : #ffe1e1,
    A400 : #ffaeae,
    A700 : #ff9495,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-TMF-green: (
    50 : #f1f8eb,
    100 : #dbeccd,
    200 : #c4e0ac,
    300 : #acd48a,
    400 : #9aca71,
    500 : #88c158,
    600 : #80bb50,
    700 : #75b347,
    800 : #6bab3d,
    900 : #589e2d,
    A100 : #edffe2,
    A200 : #ccffaf,
    A400 : #abff7c,
    A700 : #9bff63,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$my-app-primary: mat-palette($mat-TMF-red);
$my-app-accent:  mat-palette($mat-TMF-blue);
$my-app-warn:    mat-palette($mat-TMF-green);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);